.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}



.admin-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter-section {
  width: 20%;
  margin-right: 20px;
}

.calendar-section {
  margin-left: 80px;
  width: 80%;
}

.view-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 10px 16px;
  margin: 0 5px;
  cursor: pointer;
  // background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  // background-color: #095ab0;
}

button.active {
  background-color: #3498db;
  color: white;
}

 

 

.booking-details {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.calendar-section {
  width: 90%;
  position: relative; // Ensure absolute positioning works

  .custom-calendar {
    width: 800px; // Set your desired width
    height: auto; // Set your desired height
    .react-calendar__tile--active {
      color: black; // Change text color to black
      background-color: #fff; // Adjust background color if needed
    }

    // Additional styling for hover or focus states
    .react-calendar__tile--active:focus,
    .react-calendar__tile--active:hover {
      color: black; // Ensure it remains black on hover/focus
    }
  }
}
.book-now-btn {
   align-items: center;
   margin-left: 30px;
  display: block;    /* Ensure the button behaves like a block-level element */
}

.custom-calendar .react-calendar__tile {
  height: 110px; /* Increased height for more content space */
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}

.custom-calendar .tile-content {
  font-size: 10px; /* Smaller font size to fit content */
  color: #0b0b0b;
  max-height: 3em; /* Prevent overflow within the tile */
  overflow-wrap: break-word; /* Wrap long words if needed */
  white-space: normal; /* Allow text wrapping */
}
 
 
.sidebar {
  margin-right: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: #4caf50;
      outline: none;
    }
  }
}
