.admin {
  text-align: center;

  .react-calendar {
    margin: 0 auto;
  }

  .booked {
    background-color: green !important;
    color: white !important; // Optional: Change text color for better visibility
  }

  .available {
    background-color: rgb(221, 67, 67) !important;
    color: white !important; // Optional: Change text color for better visibility
  }
}
